.vista--members{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/img_vista_2/ajustada.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}
.vista--members::before{
  content: "";
  top: 0;
  left: 0;
  background-color: var(--morado_fondo_oscuro);
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}
.stats-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 35%;
  z-index: 2;
}
.vista__title--blanco_espacio_abajo{
  color: var(--blanco);
  font-size: 4.5rem;
  margin-bottom: 25px;
}
.stat-content__box .vista__title--blanco_espaciado-disminuido{
  color: var(--blanco);
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.stat-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 45%;
  z-index: 15;
  gap: 2vw;
}
.stat-content__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}