.yoga .vista-precios{
    display: flex;
    padding:10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde_claro);
    gap: 30px;
}

.card-content--precios{
    border-radius: 10px;
    margin: 0 25px;
}
.card-content__title{
    font-size: 1.8rem;
    padding: 10px 0px;
    color: var(--morado_oscuro);
}
.card__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.vista-precios-title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: fit-content;
    gap: 10px;
}

.content-img__img{
    width: 23%;
    height: auto;
    object-fit: contain;
}


.card-text-button{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    height: fit-content;
}

.card-content__button{
    padding: 1vw 0px 1vw 0px;
    max-width: 90%;
    margin: auto;
}


.text__lore--precios{
    padding-bottom: 2vw;
}
